.card-container {
    background-color:aqua; 
    width: 95%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    align-items: center;
    justify-content: center; 
    display: flex;
    flex-direction: column;
}

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.portrait-container {
    height: 150px;
    width: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.portrait {
    height: 100%;
    width: auto;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center; 
    margin: 25px;
}